<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提示</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, max-scale=1.0">

    <link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- 所有的插件依赖于 jQuery。所以必须在插件文件之前引用 jQuery -->
    <script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">提示</h4>
                </div>
                <div class="modal-body">{$msg}</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close">关闭</button>
                    <!--<button type="button" class="btn btn-primary">提交更改</button>-->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <script>
        $(function() {
            $('#myModal').modal({
                keyboard: true
            })

            $('#close').click(function () {
                var clear ="<?php echo $clear ?>";
                if ( clear == true){
                    history.back(-1);
                    location.reload();
                }else{
                    history.go(-1);
                }
            })
        });
    </script>
</body>
</html>